<template>
    <v-data-table
        :headers="headers"
        :items="details"
        hide-actions
        >
        <template v-slot:items="props">
            <td>{{ props.item.name }}</td>
            <td>{{ props.item.city }}</td>
            <td>{{ props.item.stadium }}</td>
            <td>{{ props.item.division }}</td>
            <td>{{ props.item.coach }}</td>
        </template>
    </v-data-table>
</template>

<script>
import {HTTP} from '@/api/http.js'

export default {
    name: 'club_details',
    data: function() {
        return {
            headers: [
                {text: 'Club', value: 'name', sortable: false},
                {text: 'City', value: 'city', sortable: false},
                {text: 'Stadium', value: 'stadium', sortable: false},
                {text: 'Division', value: 'division', sortable: false},
                {text: 'Coach', value: 'coach', sortable: false}
            ],
            details: []
        }
    },
    watch: {
        '$route' : 'getClubDetails'
    },
    mounted() {
        this.getClubDetails()
    },
    methods: {
        getClubDetails() {
            HTTP.get('clubs/' + this.$route.params.club)
            .then(response => {
                this.details = [response.data]
            })
        }
    }
}
</script>