<template>
    <v-app>
        <v-data-table
            :headers="headers"
            :items="players"
            hide-actions
            >
            <template v-slot:items="props">
                <td>{{ props.item.name }}</td>
                <td>{{ props.item.dorsal }}</td>
                <td><router-link :to="{ name: 'player_details', params: { club: club, player: props.item.id } }">Details</router-link></td>
            </template>
        </v-data-table>

        <player-submit :club="club"></player-submit>
    </v-app>
</template>

<script>
import {HTTP} from '@/api/http.js'
import PlayerSubmit from '@/components/PlayerSubmit.vue'

export default {
    name: 'club_players',
    data: function() {
        return {
            headers: [
                {text: 'Name', value: 'name'},
                {text: 'Dorsal', value: 'dorsal'},
                {text: 'Actions', value: 'actions'}
            ],
            players: [],
            club: this.$route.params.club,
        }
    },
    watch: {
        '$route' : 'getClubPlayers'
    },
    mounted() {
        this.getClubPlayers()
    },
    methods: {
        getClubPlayers() {
            HTTP.get('clubs/' + this.club + "/players")
            .then(response => {
                this.players = response.data
            })
        },
        addPlayer() {

        }
    },
    components: {
        PlayerSubmit
    }
}
</script>