<template>
     <v-tabs fixed-tabs>
        <v-tab href="#liga-santander">
            Liga Santander
        </v-tab>
        <v-tab href="#liga-123">
            Liga 1|2|3
        </v-tab>

        <v-tab-item value="liga-santander">
            <v-data-table
                :headers="headers"
                :items="ligaSantander"
            >
                <template v-slot:items="props">
                    <td>{{ props.item.name }}</td>
                    <td>{{ props.item.city }}</td>
                    <td><router-link :to="{ name: 'club_details', params: { club: props.item.id } }">Details</router-link></td>
                    <td><router-link :to="{ name: 'club_players', params: { club: props.item.id } }">Players</router-link></td>
                </template>
            </v-data-table>
        </v-tab-item>
        <v-tab-item value="liga-123">
            <v-data-table
                :headers="headers"
                :items="liga123"
            >
                <template v-slot:items="props">
                    <td>{{ props.item.name }}</td>
                    <td>{{ props.item.city }}</td>
                    <td><router-link :to="{ name: 'club_details', params: { club: props.item.id } }">Details</router-link></td>
                    <td><router-link :to="{ name: 'club_players', params: { club: props.item.id } }">Players</router-link></td>
                </template>
            </v-data-table>
        </v-tab-item>
    </v-tabs>
</template>

<script>
import {HTTP} from '@/api/http.js'

export default {
    name: 'home',
    data: function() {
        return {
            headers: [
                {text: 'Club', value: 'name'},
                {text: 'City', value: 'city'},
                {text: 'Actions', value:'actions'}
            ],
            ligaSantander: [],
            liga123: []
        }
    },
    created() {
        HTTP.get('/clubs?d=1')
        .then(response => {
            this.ligaSantander = response.data
        });

        HTTP.get('/clubs?d=2')
        .then(response => {
            this.liga123 = response.data
        })
    }
}
</script>