<template>
    <v-data-table
        :headers="headers"
        :items="details"
        hide-actions
        >
        <template v-slot:items="props">
            <td>{{ props.item.name }}</td>
            <td>{{ props.item.dorsal }}</td>
            <td>{{ props.item.position }}</td>
            <td>{{ props.item.nationality }}</td>
        </template>
    </v-data-table>
</template>

<script>
import {HTTP} from '@/api/http.js'

export default {
    name: 'club_details',
    data: function() {
        return {
            headers: [
                {text: 'Club', value: 'name', sortable: false},
                {text: 'Dorsal', value: 'dorsal', sortable: false},
                {text: 'position', value: 'position', sortable: false},
                {text: 'nationality', value: 'Nationality', sortable: false},
            ],
            details: []
        }
    },
    watch: {
        '$route' : 'getPlayerDetails'
    },
    mounted() {
        this.getPlayerDetails()
    },
    methods: {
        getPlayerDetails() {
            HTTP.get('clubs/' + this.$route.params.club + /players/ + this.$route.params.player)
            .then(response => {
                this.details = [response.data]
            })
        }
    }
}
</script>