<template>
     <v-dialog
            v-model="dialog"
            width="500"
        >
            <template v-slot:activator="{ on }">
              <v-btn fab dark color="indigo"v-on="on">
                <v-icon dark>add</v-icon>
              </v-btn>
            </template>

            <v-card>
                <v-card-title
                    class="headline grey lighten-2"
                    primary-title
                >
                    Add new Player
                </v-card-title>
                <v-card-text>
                    <v-form v-model="valid">
                        <v-text-field
                            v-model="firstname"
                            label="First name"
                            required
                        ></v-text-field>
                        <v-text-field
                            v-model="dorsal"
                            type="number"
                            label="Dorsal"
                            required
                        ></v-text-field>
                        <v-text-field
                            v-model="position"
                            label="Position"
                            required
                        ></v-text-field>
                        <v-text-field
                            v-model="nationality"
                            label="Nationality"
                            required
                        ></v-text-field>
                    </v-form>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="primary"
                      flat
                      @click="submitPlayer()">
                      Add
                    </v-btn>
                </v-card-actions>
            </v-card>


        </v-dialog>
</template>

<script>
    import {HTTP} from '@/api/http.js'

    export default {
        data: function() {
            return {
                dialog: false,

                name: '',
                dorsal: false,
                position: '',
                nationality: ''
            }
        },
        props: ['club'],
        methods: {
            submitPlayer() {
                var form = {
                    name: this.name,
                    dorsal: this.dorsal,
                    position: this.position,
                    nationality: this.nationality
                };

                HTTP.post('clubs/' + this.club + '/players', form)
                .then(response => {
                    this.dialog = false;
                });
            }
        }
    }
</script>